[user]
	email = falk.bruskeland@gmail.com
	name = Falk Bruskeland
	signingkey = 33E823BF212CBFE1
[core]
	editor = kak
	pager = delta
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[pull]
	rebase = true
[commit]
	gpgsign = true
[ghq]
	user = falbru
[url " ssh://git@bitbucket.org/"]
	insteadOf = " https://bitbucket.org/"
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
[push]
	autoSetupRemote = true
