[user]
	email = falk.bruskeland@gmail.com
	name = falbru
	signingkey = 185257D571D77886
[core]
	editor = kak
	pager = less -FRX
[merge]
	ff = false
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[pull]
	rebase = true
[commit]
	gpgsign = true
[ghq]
	user = falbru
