[user]
	email = falk.bruskeland@gmail.com
	name = Falk Bruskeland
	signingkey = D90988F436C14DBF
[core]
	editor = kak
	pager = delta
[commit]
	gpgsign = true
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[ghq]
	root = ~/code
	user = falbru
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
